7.css
@import url(https://fonts.googleapis.com/css2?family=Tinos&display=swap);


.title{
      color: blue;
      text-size-adjust: auto;
      
  }

       
.reveal {
    filter: brightness(5%);
    font-family: 'Tinos', serif;
    font-style: normal;
    font-size: 3vw;
    text-size-adjust: 20%;
    margin-left: 200px;
    margin-top: 350px;
    text-align: right;
  }
  
  .reveal:hover{
      -webkit-animation: 4s radial forwards reveal;
       -moz-animation: 1s radial sideways reveal;
         -o-animation: 1s radial sideways reveal;
            animation: 1s linear forwards reveal;
  }
  
  @-webkit-keyframes reveal { from { background:blue;filter:blur(90px); } to { filter:blur(10px); }  }
     @-moz-keyframes reveal { from {  background:blue;filter:blur(90px); } to { filter:blur(100px); }  }
       @-o-keyframes reveal { from { background:blue; filter:blur(90px); } to { filter:blur(100px); }  }
          @keyframes reveal { from {  background:blue;filter:blur(90px); } to { filter:blur(0px); }  }

          body{
            background: black;
            position: 20px;
            width: 80%;
            height: 50%;
            font-family: 'Tinos', serif;
            font-style: normal;
            font-weight: 200%;
            font-size: 300%;
            color: blue;
            margin-left: 50px;
            border-style:blur(500px);
       
        }
      
        .link
        {
            text-decoration: none;
            color: rgb(0, 26, 119);
        }
        .link:hover {
            color: rgb(57, 64, 76);
            cursor: pointer;
        }