9.css
@import url(https://fonts.googleapis.com/css2?family=Tinos&display=swap);

body{
  height: 100%;
  font-weight: 100;
  color: #FDB731;
  font-size: 100vw;
  
}


body{
    color: #FDB731;
  background: rgb(0, 0, 0);
  font-family: 'Tinos', serif;
  font-style: normal;
  font-weight: 200;
  line-height: 25px;
  color: rgb(212, 255, 0);
  viewport-fit: auto;  
  font-weight: 10;
  color: #FDB731;
  font-size: 100vw;
  margin-top: -100px;
  margin-top: 60pt;
}


svg {
    font: 5vw 'Tinos';
    width: 400%;
    height: 400%;
    viewport-fit: auto;

}

.text-copy {
    fill: none;
    inset-block: initial;
    stroke-dasharray: 10% 29%;
    stroke-width: 1px;
    filter: blur(15%);
    stroke-dashoffset: 10%;
    animation: stroke-offset 10s infinite linear;
    display: block;
    overflow: auto;
    viewport-fit: auto;
    text-size-adjust: -11%;
    margin: 1px;
}


.text-copy:nth-child(1){
  stroke: #3b3021;
  animation-delay: -100s;
}

.text-copy:nth-child(2){
  stroke: #1e1f31;
  animation-delay: -50s;
}

.text-copy:nth-child(3){
  stroke: #401f29;
  animation-delay: -60s;
}

.text-copy:nth-child(4){
  stroke: #4e3726;
  animation-delay: -70s;
}

.text-copy:nth-child(5){
  stroke: #53462d;
  animation-delay: -80s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -15%;}
}
        
.title { 
    font-family: 'Tinos', serif;
    font-style: normal;
    font-weight: 200;
    font-size: 200px;
    line-height: 25px;
    color: rgb(105, 58, 28);
    margin-top: -100px;
    margin-top: 60pt;
    font-size: 10vw;
 
}    
.link
{
    text-decoration: none;
    color: rgb(152, 83, 14);
}
.link:hover {
    color: rgb(255, 128, 0);
    cursor: pointer;
}