fullstory.css
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
.link
{
    text-decoration: none;
    color: rgb(255, 0, 0);
}
.link:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}
body{background-color:black;}
.one {
    margin: 0px;
    text-align:center;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Tinos', serif;
    font-weight:200px;
    font-size:15vw;
    viewport-fit:initial;

  }
  const elem = document.querySelector("audio");

  elem.audioTrackList.onaddtrack = (event) => {
    trackEditor.addTrack(event.track);
  };
  
  elem.audioTrackList.onremovetrack = (event) => {
    trackEditor.removeTrack(event.track);
  };
  .link
{
    text-decoration: none;
    color: rgb(255, 0, 0);
}
.link:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}