
@import url(<link rel="preconnect" href='https://fonts.googleapis.com/css2?family=Tinos&display=swap');
body{ background-color: black;
    position: 100px;
    width: 80%;
    height: 20%;
    font-family: 'Tinos', serif;
    font-style: normal;
    font-weight: 200px;
    font-size: 2vw;
    line-height: 20px;
    color: #004a16;
    margin-top: 10px;
    
    
}
.title{

  position: 20px;
    width: 80%;
    height: 20%;
    font-family: 'Tinos', serif;
    font-style: normal;
    font-weight: 200;
    font-size: 25vw;
    line-height: 25px;
    color: #0c5003;
    margin-left: 80px;
}

#scroll-container {
 
    justify-content: center;
    align-items: center;
    align-self:center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    max-width: 30vw;
  
  }
  #scroll-text {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transform: translate(100%);
    color: rgb(6, 59, 23);
    -moz-animation: my-animation 65s linear infinite;
    -webkit-animation: my-animation 55s linear infinite;
    animation: my-animation 40s linear infinite;
  }
  
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(-100%); }
    to { -moz-transform: translateX(-150%); 
       }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(300%); }
    to { -webkit-transform: translateX(-400%); 
      }
  }
  
@keyframes my-animation {
    0% { 
      transform: translateY(10%); 
      transform: translateX(200%); 
      transform: rotate(-10deg);	
      }
      10%   { 
        
        transform: translateX(20%); 
        transform: rotate(-50deg);		
        }
      
      20%   { 
        transform: translateY(100%); 
        transform: translateX(-200%); 
        transform: rotate(-200deg);		
        }
    40% { 
      translate: translateY(-100%);
    transform: translateX(50%); 
    transform: rotate(-260deg);
    }

60%   { 
  translate: translateY(-100%);
  transform: translateX(-10%); 
  transform: rotate(-30deg);	
	

}
80%   { 
translate: translateY(10%);
  transform: translateX(200%); 
  transform: rotate(-360deg);	

}


  100% { 
    transform: translateY(140%); 
    transform: translateX(200%); 
    transform: rotate(-10deg);	
  }

}

.link
{
    text-decoration: none;
    color: rgb(0, 66, 11);
}
.link:hover {
  color: rgb(60, 149, 73);
    cursor: pointer;
}